@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
svg{
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgb(242, 244, 247);
}

.sidebar {
  min-width: 320px;
  background: rgb(255, 255, 255);
  padding: 24px 24px 16px;
  display: flex;
  flex-direction: column;
  color: rgb(102, 112, 133);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.sidebar-header {
  display: flex;
  gap: 8px;
  padding: 12px 10px;
  align-items: center;
  justify-content: center;
}

.sidebar-header h3 {
  font-size: 1.8rem;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
}

.sidebar-body>a {
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  gap: 8px;
  margin: 4px 0px;
  color: rgb(102, 112, 133);
}

.sidebar-body a:hover,
.active {
  background: rgb(242, 244, 247);
  color: rgb(29, 41, 57);
  border-radius: 8px;
}



.sidebar-body>a>div {
  display: flex;
  gap: 0.4rem;
}

.main-content {
  min-height: 100vh;
}
.heading{
  text-align: center;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
}


.authors {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
}

.single__author {
  box-shadow: 0 0 1px 1px #0000000d;
  border-radius: 7px;
  padding: 20px;
  height: calc(100% - 40px);
  background-color: #fff;
}

.links {
  display: flex;
  justify-content: space-between;
}
.no-data{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-60%);
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination span{
  font-size: 1.2rem;
  background: black;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

@media only screen and (max-width: 600px){
  .container{
    flex-wrap: wrap;
  }
  .sidebar{
    width: 100%;
  }
  .authors{
    grid-template-columns: 1fr;

  }
  .sidebar-body{
    flex-direction: row;
    justify-content: center;
  }
}